---
import Lyric from '@layouts/Lyric.astro';
---

<Lyric
  title="觀測衞曐"
  author="ななひら feat. かめりあ"
  pubDatetime="2024-01-22T00:36:10.258Z"
  slug="kansoku-eisei"
  comment={true}
>
  <p><a href="https://youtu.be/gpYAzEotlXI?si=uU22tI_LtdSg3LWQ">youtube</a></p>
  <div id="lyric" class="flex flex-col gap-4 text-lg">
    <div>
      <div class="lang-ja">
        <ruby>重力<rp>(</rp><rt>じゅうりょく</rt><rp>)</rp></ruby>に <ruby
          >引<rp>(</rp><rt>ひ</rt><rp>)</rp></ruby
        >かれて
      </div><div class="lang-ko">중력장에 이끌려서</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>真赭<rp>(</rp><rt>まそお</rt><rp>)</rp></ruby>に <ruby
          >惹<rp>(</rp><rt>ひ</rt><rp>)</rp></ruby
        >かれて
      </div><div class="lang-ko">붉은 빛에 이끌려서</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>零下<rp>(</rp><rt>れいか</rt><rp>)</rp></ruby>
        <ruby>弐陌七拾<rp>(</rp><rt>にひゃくななじゅう</rt><rp>)</rp></ruby
        ><ruby>度<rp>(</rp><rt></rt>ど<rp>)</rp></ruby>の <ruby
          >空閒<rp>(</rp><rt>くうかん</rt><rp>)</rp></ruby
        >に
      </div><div class="lang-ko">영하 이백 하고도 칠십도의 공간 속으로</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>投<rp>(</rp><rt>な</rt><rp>)</rp></ruby>げ<ruby
          >出<rp>(</rp><rt>だ</rt><rp>)</rp></ruby
        >された <ruby>或<rp>(</rp><rt>あ</rt><rp>)</rp></ruby>る<ruby
          >誕生<rp>(</rp><rt>たんじょう</rt><rp>)</rp></ruby
        >と<ruby>寂寞<rp>(</rp><rt>せきばく</rt><rp>)</rp></ruby>
      </div><div class="lang-ko">내팽개쳐졌어 어느 탄생과 적막만이</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>劃<rp>(</rp><rt>かぎ</rt><rp>)</rp></ruby>り<ruby
          >無<rp>(</rp><rt>な</rt><rp>)</rp></ruby
        >い <ruby>點灮源<rp>(</rp><rt>てんこうげん</rt><rp>)</rp></ruby>に <ruby
          >目<rp>(</rp><rt>め</rt><rp>)</rp></ruby
        >も<ruby>遣<rp>(</rp><rt>や</rt><rp>)</rp></ruby>らず
      </div><div class="lang-ko">무궁무진한 점광원에 눈길도 없이</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>嚮<rp>(</rp><rt>むか</rt><rp>)</rp></ruby>った <ruby
          >軈<rp>(</rp><rt>やが</rt><rp>)</rp></ruby
        >て<ruby>見附<rp>(</rp><rt>みつ</rt><rp>)</rp></ruby>た
      </div><div class="lang-ko">따라갔어 이윽고 발견했어</div>
    </div>
    <div>
      <div class="lang-ja">
        そちらは<ruby>惑曐<rp>(</rp><rt>わくせい</rt><rp>)</rp></ruby> こちら<ruby
          >衞曐<rp>(</rp><rt>えいせい</rt><rp>)</rp></ruby
        > けども<ruby>泛<rp>(</rp><rt>うか</rt><rp>)</rp></ruby>んだ
      </div><div class="lang-ko">그쪽은 행성이고 이쪽은 위성 그러나 떠올라</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>熱<rp>(</rp><rt>ねつ</rt><rp>)</rp></ruby>を<ruby
          >抱<rp>(</rp><rt>かか</rt><rp>)</rp></ruby
        >えた この<ruby>情動<rp>(</rp><rt>じょうどう</rt><rp>)</rp></ruby>
        <ruby>何<rp>(</rp><rt>なに</rt><rp>)</rp></ruby><ruby
          >物<rp>(</rp><rt>もの</rt><rp>)</rp></ruby
        >
      </div><div class="lang-ko">열기를 껴안았어 이 흥분감 무엇일까</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>何<rp>(</rp><rt>いず</rt><rp>)</rp></ruby>れ<ruby
          >機械<rp>(</rp><rt>きかい</rt><rp>)</rp></ruby
        >は
      </div><div class="lang-ko">언젠가 기계란 건</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>嗚呼<rp>(</rp><rt>ああ</rt><rp>)</rp></ruby>
        <ruby>壞<rp>(</rp><rt>こわ</rt><rp>)</rp></ruby>れ <ruby
          >墜<rp>(</rp><rt>お</rt><rp>)</rp></ruby
        >ちるとしても
      </div><div class="lang-ko">아아 무너져 떨어져나가지만</div>
    </div>
    <div>
      <div class="lang-ja">
        この<ruby>眼<rp>(</rp><rt>め</rt><rp>)</rp></ruby>
        <ruby>瞼<rp>(</rp><rt>まぶた</rt><rp>)</rp></ruby>
        <ruby>閉<rp>(</rp><rt>とじ</rt><rp>)</rp></ruby>す<ruby
          >事<rp>(</rp><rt>こと</rt><rp>)</rp></ruby
        ><ruby>無<rp>(</rp><rt>な</rt><rp>)</rp></ruby>く
      </div><div class="lang-ko">이 한 눈 눈꺼풀 절대 닫지 않아</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>聲<rp>(</rp><rt>こえ</rt><rp>)</rp></ruby>を <ruby
          >息<rp>(</rp><rt>いき</rt><rp>)</rp></ruby
        >を <ruby>缺片<rp>(</rp><rt>かけら</rt><rp>)</rp></ruby>を<ruby
          >蒐<rp>(</rp><rt>あつ</rt><rp>)</rp></ruby
        >め<ruby>續<rp>(</rp><rt>つづ</rt><rp>)</rp></ruby>ける
      </div><div class="lang-ko">목청을 호흡을 조각들을 모아서 이어나가</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>只<rp>(</rp><rt>ただ</rt><rp>)</rp></ruby><ruby
          >周廻<rp>(</rp><rt>しゅうかい</rt><rp>)</rp></ruby
        >する <ruby>系<rp>(</rp><rt>けい</rt><rp>)</rp></ruby>の <ruby
          >丗畍<rp>(</rp><rt>せかい</rt><rp>)</rp></ruby
        >の<ruby>後<rp>(</rp><rt>のち</rt><rp>)</rp></ruby>で
      </div><div class="lang-ko">그저 주위를 돌 뿐인 계의 세계의 종말에</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>愛<rp>(</rp><rt>いと</rt><rp>)</rp></ruby>しい <ruby
          >曐<rp>(</rp><rt>ほし</rt><rp>)</rp></ruby
        >の <ruby>地<rp>(</rp><rt>つち</rt><rp>)</rp></ruby>になるなら
      </div><div class="lang-ko">어여쁜 별님의 토지가 된다면</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>遠<rp>(</rp><rt>とお</rt><rp>)</rp></ruby>い<ruby
          >竟<rp>(</rp><rt>つい</rt><rp>)</rp></ruby
        >を <ruby>待<rp>(</rp><rt>ま</rt><rp>)</rp></ruby>ち<ruby
          >侘<rp>(</rp><rt>わ</rt><rp>)</rp></ruby
        >びながら
      </div><div class="lang-ko">머나먼 최후를 지키며 기다리며</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る <ruby
          >周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby
        >る <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る
      </div><div class="lang-ko">돌거야 돌거야 돌거야</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>理由<rp>(</rp><rt>りゆう</rt><rp>)</rp></ruby><ruby
          >等<rp>(</rp><rt>など</rt><rp>)</rp></ruby
        >
        <ruby>知<rp>(</rp><rt>し</rt><rp>)</rp></ruby>らなかった <ruby
          >朱<rp>(</rp><rt>あか</rt><rp>)</rp></ruby
        >い<ruby>渦<rp>(</rp><rt>うず</rt><rp>)</rp></ruby>
      </div><div class="lang-ko">이유따위 알지 못했어 붉은 맴돌이</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>幾<rp>(</rp><rt>いく</rt><rp>)</rp></ruby>つもの<ruby
          >帶<rp>(</rp><rt>おび</rt><rp>)</rp></ruby
        >
        <ruby>攜<rp>(</rp><rt>たずさ</rt><rp>)</rp></ruby>えている<ruby
          >意味<rp>(</rp><rt>いみ</rt><rp>)</rp></ruby
        >
      </div><div class="lang-ko">수많은 고리들을 두르고 있는 의미</div>
    </div>
    <div>
      <div class="lang-ja">
        そうして<ruby>復<rp>(</rp><rt>また</rt><rp>)</rp></ruby>
        <ruby>艷麗<rp>(</rp><rt>えんれい</rt><rp>)</rp></ruby>な<ruby
          >肌<rp>(</rp><rt>はだ</rt><rp>)</rp></ruby
        >
        <ruby>撮<rp>(</rp><rt>うつ</rt><rp>)</rp></ruby>しては
      </div><div class="lang-ko">그렇게 다시 농염한 살결 비추어서는</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>送<rp>(</rp><rt>おく</rt><rp>)</rp></ruby>った <ruby
          >軈<rp>(</rp><rt>やが</rt><rp>)</rp></ruby
        >て<ruby>炁附<rp>(</rp><rt>きづ</rt><rp>)</rp></ruby>いた
      </div><div class="lang-ko">전송했어 이윽고 깨달았어</div>
    </div>
    <div>
      <div class="lang-ja">
        そちらは<ruby>惑曐<rp>(</rp><rt>わくせい</rt><rp>)</rp></ruby> こちら<ruby
          >衞曐<rp>(</rp><rt>えいせい</rt><rp>)</rp></ruby
        >
        <ruby>只<rp>(</rp><rt>ただ</rt><rp>)</rp></ruby>の<ruby
          >裝置<rp>(</rp><rt>そうち</rt><rp>)</rp></ruby
        >は
      </div><div class="lang-ko">
        그쪽은 행성이고 이쪽은 위성 한낱 장치일 뿐
      </div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>解<rp>(</rp><rt>わ</rt><rp>)</rp></ruby>らなかった だけど<ruby
          >未<rp>(</rp><rt>いま</rt><rp>)</rp></ruby
        >だ<ruby>盲目<rp>(</rp><rt>もうもく</rt><rp>)</rp></ruby>
      </div><div class="lang-ko">이해할 수 없었어 하지만 아직 맹목적으로</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>何<rp>(</rp><rt>いず</rt><rp>)</rp></ruby>れ<ruby
          >機械<rp>(</rp><rt>きかい</rt><rp>)</rp></ruby
        >は
      </div><div class="lang-ko">언젠가 기계란 건</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>嗚呼<rp>(</rp><rt>ああ</rt><rp>)</rp></ruby>
        <ruby>朽<rp>(</rp><rt>く</rt><rp>)</rp></ruby>ちて <ruby
          >役目<rp>(</rp><rt>やくめ</rt><rp>)</rp></ruby
        >を<ruby>仕舞<rp>(</rp><rt>しま</rt><rp>)</rp></ruby>う
      </div><div class="lang-ko">아아 낡아서 목적을 다하지만</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>鐵<rp>(</rp><rt>てつ</rt><rp>)</rp></ruby>の<ruby
          >軀<rp>(</rp><rt>からだ</rt><rp>)</rp></ruby
        >
        <ruby>電炁<rp>(</rp><rt>でんき</rt><rp>)</rp></ruby>の<ruby
          >腦<rp>(</rp><rt>のう</rt><rp>)</rp></ruby
        >も
      </div><div class="lang-ko">강철의 몸통에 전기로 된 뇌마저</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>融<rp>(</rp><rt>と</rt><rp>)</rp></ruby>けて <ruby
          >龡<rp>(</rp><rt>ふ</rt><rp>)</rp></ruby
        >かれ <ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>の<ruby
          >生命<rp>(</rp><rt>いのち</rt><rp>)</rp></ruby
        >へと<ruby>混<rp>(</rp><rt>ま</rt><rp>)</rp></ruby>ざる
      </div><div class="lang-ko">녹아서 붙어서 너의 목숨과 함께 뒤섞여</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>永久<rp>(</rp><rt>とこしなえ</rt><rp>)</rp></ruby>めいた <ruby
          >逡巡<rp>(</rp><rt>しゅんじゅん</rt><rp>)</rp></ruby
        > その<ruby>行先<rp>(</rp><rt>ゆくさき</rt><rp>)</rp></ruby>は
      </div><div class="lang-ko">영원불멸할 듯했던 망설임 그 목적지에는</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>愛<rp>(</rp><rt>いと</rt><rp>)</rp></ruby>しい <ruby
          >曐<rp>(</rp><rt>ほし</rt><rp>)</rp></ruby
        >に <ruby>觸<rp>(</rp><rt>さわ</rt><rp>)</rp></ruby>れられるらしい
      </div><div class="lang-ko">어여쁜 별님에 닿게 되는 것 같아</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>圓<rp>(</rp><rt>えん</rt><rp>)</rp></ruby>の<ruby
          >鎖<rp>(</rp><rt>くさり</rt><rp>)</rp></ruby
        >
        <ruby>外<rp>(</rp><rt>はず</rt><rp>)</rp></ruby>れる<ruby
          >日<rp>(</rp><rt>ひ</rt><rp>)</rp></ruby
        >まで
      </div><div class="lang-ko"></div>
      원형의 쇠사슬 뜯겨나갈 날까지
    </div>
    <div>
      <div class="lang-ja">
        <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る <ruby
          >周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby
        >る <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る
      </div><div class="lang-ko">돌거야 돌거야 돌거야</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>重力<rp>(</rp><rt>じゅうりょく</rt><rp>)</rp></ruby>に <ruby
          >引<rp>(</rp><rt>ひ</rt><rp>)</rp></ruby
        >かれて
      </div><div class="lang-ko">중력장에 이끌려서</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>真赭<rp>(</rp><rt>まそお</rt><rp>)</rp></ruby>に <ruby
          >惹<rp>(</rp><rt>ひ</rt><rp>)</rp></ruby
        >かれて
      </div><div class="lang-ko">붉은 빛에 이끌려서</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>は<ruby
          >夢<rp>(</rp><rt>ゆめ</rt><rp>)</rp></ruby
        >を<ruby>見<rp>(</rp><rt>み</rt><rp>)</rp></ruby>ますか
      </div><div class="lang-ko">당신은 꿈이란 걸 꾸나요</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>は<ruby
          >宙<rp>(</rp><rt>そら</rt><rp>)</rp></ruby
        >を<ruby>飛<rp>(</rp><rt>と</rt><rp>)</rp></ruby>べますか
      </div><div class="lang-ko">당신은 하늘을 날 수 있나요</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>は<ruby
          >何<rp>(</rp><rt>なに</rt><rp>)</rp></ruby
        >が<ruby>好<rp>(</rp><rt>すき</rt><rp>)</rp></ruby>きですか
      </div><div class="lang-ko">당신은 무엇을 좋아하나요</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>僕<rp>(</rp><rt>ぼく</rt><rp>)</rp></ruby>は<ruby
          >好<rp>(</rp><rt>すき</rt><rp>)</rp></ruby
        >きですか
      </div><div class="lang-ko">나는 마음에 드나요</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>何<rp>(</rp><rt>いず</rt><rp>)</rp></ruby>れ<ruby
          >機械<rp>(</rp><rt>きかい</rt><rp>)</rp></ruby
        >は
      </div><div class="lang-ko">언젠가 기계란 건</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>嗚呼<rp>(</rp><rt>ああ</rt><rp>)</rp></ruby>
        <ruby>君<rp>(</rp><rt>きみ</rt><rp>)</rp></ruby>の<ruby
          >負<rp>(</rp><rt>お</rt><rp>)</rp></ruby
        >う<ruby>質量<rp>(</rp><rt>しつりょう</rt><rp>)</rp></ruby>に
      </div><div class="lang-ko">아아 네게 매인 질량에</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>軌道<rp>(</rp><rt>きどう</rt><rp>)</rp></ruby><ruby
          >失<rp>(</rp><rt>な</rt><rp>)</rp></ruby
        >くし <ruby>臥<rp>(</rp><rt>ふ</rt><rp>)</rp></ruby>せるのでしょう
      </div><div class="lang-ko">궤도를 잃어서 드러눕게 되겠죠</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>愛<rp>(</rp><rt>いと</rt><rp>)</rp></ruby>しい <ruby
          >曐<rp>(</rp><rt>ほし</rt><rp>)</rp></ruby
        >で <ruby>睡<rp>(</rp><rt>ねむ</rt><rp>)</rp></ruby>れるのなら
      </div><div class="lang-ko">어여쁜 별님께 기대 잘 수 있다면</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る <ruby
          >周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby
        >る <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る
      </div><div class="lang-ko">돌거야 돌거야 돌거야</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>何<rp>(</rp><rt>いず</rt><rp>)</rp></ruby>れ<ruby
          >機械<rp>(</rp><rt>きかい</rt><rp>)</rp></ruby
        >は
      </div><div class="lang-ko">언젠가 기계란 건</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>嗚呼<rp>(</rp><rt>ああ</rt><rp>)</rp></ruby>
        <ruby>壞<rp>(</rp><rt>こわ</rt><rp>)</rp></ruby>れ <ruby
          >墜<rp>(</rp><rt>お</rt><rp>)</rp></ruby
        >ちるとしても
      </div><div class="lang-ko">아아 무너져 떨어져나가지만</div>
    </div>
    <div>
      <div class="lang-ja">
        この<ruby>眼<rp>(</rp><rt>め</rt><rp>)</rp></ruby>
        <ruby>瞼<rp>(</rp><rt>まぶた</rt><rp>)</rp></ruby>
        <ruby>閉<rp>(</rp><rt>とじ</rt><rp>)</rp></ruby>す<ruby
          >事<rp>(</rp><rt>こと</rt><rp>)</rp></ruby
        ><ruby>無<rp>(</rp><rt>な</rt><rp>)</rp></ruby>く
      </div><div class="lang-ko">이 한 눈 눈꺼풀 절대 닫지 않아</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>聲<rp>(</rp><rt>こえ</rt><rp>)</rp></ruby>を <ruby
          >息<rp>(</rp><rt>いき</rt><rp>)</rp></ruby
        >を <ruby>缺片<rp>(</rp><rt>かけら</rt><rp>)</rp></ruby>を<ruby
          >蒐<rp>(</rp><rt>あつ</rt><rp>)</rp></ruby
        >め<ruby>續<rp>(</rp><rt>つづ</rt><rp>)</rp></ruby>ける
      </div><div class="lang-ko">목청을 호흡을 조각들을 모아서 이어나가</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>只<rp>(</rp><rt>ただ</rt><rp>)</rp></ruby><ruby
          >周廻<rp>(</rp><rt>しゅうかい</rt><rp>)</rp></ruby
        >する <ruby>系<rp>(</rp><rt>けい</rt><rp>)</rp></ruby>の <ruby
          >丗畍<rp>(</rp><rt>せかい</rt><rp>)</rp></ruby
        >の<ruby>後<rp>(</rp><rt>のち</rt><rp>)</rp></ruby>で
      </div><div class="lang-ko">그저 주위를 돌 뿐인 계의 세계의 종말에</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>愛<rp>(</rp><rt>いと</rt><rp>)</rp></ruby>しい <ruby
          >曐<rp>(</rp><rt>ほし</rt><rp>)</rp></ruby
        >の <ruby>地<rp>(</rp><rt>つち</rt><rp>)</rp></ruby>になるなら
      </div><div class="lang-ko">어여쁜 별님의 토지가 된다면</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>遠<rp>(</rp><rt>とお</rt><rp>)</rp></ruby>い<ruby
          >竟<rp>(</rp><rt>つい</rt><rp>)</rp></ruby
        >を <ruby>待<rp>(</rp><rt>ま</rt><rp>)</rp></ruby>ち<ruby
          >侘<rp>(</rp><rt>わ</rt><rp>)</rp></ruby
        >びながら
      </div><div class="lang-ko">머나먼 최후를 지키며 기다리며</div>
    </div>
    <div>
      <div class="lang-ja">
        <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る <ruby
          >周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby
        >る <ruby>周<rp>(</rp><rt>まわ</rt><rp>)</rp></ruby>る
      </div><div class="lang-ko">돌거야 돌거야 돌거야</div>
    </div>
  </div>

  <div
    class="sticky bottom-0 flex select-none gap-1 rounded-t-md bg-[rgba(var(--color-fill))] px-2 text-lg"
  >
    <div>
      <input type="checkbox" id="ja" name="ja" checked />
      <label for="ja" class="checked">あ</label>
    </div>
    <div>
      <input type="checkbox" id="ruby" name="ruby" checked />
      <label for="ruby" class="checked">読み</label>
    </div>
    <div>
      <input type="checkbox" id="ko" name="ko" checked />
      <label for="ko" class="checked">가</label>
    </div>
  </div>
</Lyric>

<style>
  ruby {
    ruby-align: center;
  }
  rt {
    @apply text-xs;
  }
  input {
    display: none;
  }
  :global(.checked) {
    color: rgba(var(--color-accent));
  }
  label {
    @apply cursor-pointer;
  }
  :global(.hide-ja) .lang-ja {
    display: none;
  }
  :global(.hide-ko) .lang-ko {
    display: none;
  }
  :global(.hide-ruby) rt:not(.show) {
    display: none;
  }
  rp,
  rt {
    user-select: none;
  }
</style>

<script is:inline>
  const lyric = document.getElementById('lyric');
  for (const input of document.querySelectorAll('input[type="checkbox"]')) {
    input.addEventListener('change', () => {
      if (input.checked) {
        input.nextElementSibling.classList.add('checked');
        lyric.classList.remove(`hide-${input.id}`);
      } else {
        input.nextElementSibling.classList.remove('checked');
        lyric.classList.add(`hide-${input.id}`);
      }
    });
  }
</script>
