---

---

<div
  class="function my-8 overflow-x-scroll whitespace-nowrap text-left font-mono text-sm"
>
  <slot />
</div>

<style>
  .function :global(p) {
    display: inline;
    margin: 0;
  }
</style>
